<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Trip Estimator", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "About", root_path %></li>
        <li><%= link_to "Contact", root_path %></li>
      </ul>
    </nav>
  </div>
</header>